<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>ViewServlet</servlet-name>
    <servlet-class>it.io.coffecrud.controller.ViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewServlet</servlet-name>
    <url-pattern>/ViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertController</servlet-name>
    <servlet-class>it.io.coffecrud.controller.InsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertController</servlet-name>
    <url-pattern>/InsertController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateController</servlet-name>
    <servlet-class>it.io.coffecrud.controller.UpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateController</servlet-name>
    <url-pattern>/UpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteController</servlet-name>
    <servlet-class>it.io.coffecrud.controller.DeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteController</servlet-name>
    <url-pattern>/DeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewSupplierServlet</servlet-name>
    <servlet-class>it.io.coffecrud.controller.ViewSupplierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSupplierServlet</servlet-name>
    <url-pattern>/ViewSupplierServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertSupplierController</servlet-name>
    <servlet-class>it.io.coffecrud.controller.InsertSupplierController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertSupplierController</servlet-name>
    <url-pattern>/InsertSupplierController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateSupplierController</servlet-name>
    <servlet-class>it.io.coffecrud.controller.UpdateSupplierController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSupplierController</servlet-name>
    <url-pattern>/UpdateSupplierController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteSupplierController</servlet-name>
    <servlet-class>it.io.coffecrud.controller.DeleteSupplierController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSupplierController</servlet-name>
    <url-pattern>/DeleteSupplierController</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <res-ref-name>jdbc/TestDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>